/* External CSS styles go here */
:root {
    --piece-count: var(--js-piece-count, 9);
    --board-size: var(--js-board-size, 300px);

    --piece-sqrt: calc(sqrt(var(--piece-count)));
    --piece-size: calc(var(--board-size) / var(--piece-sqrt));
  }



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#settings {
    display: flex;
    align-items: center;
}

#settings > * {
    margin-right: 1.5em;
}

#settings > label{
    margin-right: 0.3em;
}



#puzzle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 1em;
}

#puzzle-container {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(var(--piece-sqrt), var(--piece-size));
    min-width: var(--board-size);
    min-height: var(--board-size);
    max-width: fit-content;
    max-height: fit-content;
    gap: 5px;
    margin-top: 20px;
}


.puzzle-piece {
    width: var(--piece-size);
    height: var(--piece-size);
    background-size: var(--board-size) var(--board-size);
    cursor: pointer;
}

#puzzle-board {
    display: grid;
    grid-template-columns: repeat(var(--piece-sqrt), var(--piece-size));
    gap: 5px;
    margin-top: 20px;
    padding-right: 2px;
    max-width: fit-content;
    border: 2px solid #000; /* Border around the puzzle board */
}

.drop-target {
    background-color: #f0f0f0; /* Highlight color for drop areas */
    height: var(--piece-size);
    width: var(--piece-size);
    border: 1px solid #ccc;
    position: relative;
}

.selected-piece {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#solved-screen {
    background-color: #5cb85c; /* Green color */
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

/*********************************************************/
@media (max-width: 45rem){
    #puzzle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        gap: 1em;
    }

    #settings {
        flex-direction: column;
    }

    #settings > * {
        margin-right: 0.3em;
    }

    #settings > label{
        margin-right: 0;
    }
}

/* Auch @media (min-device-width: 60rem) { */
/* Einstellungen, die erst bei einer Anzeige mit einer Breite von mindestens 40 Zeichen der Schriftgröße wirken */
@media (min-width: 60rem){
	
}

/***************************************************************/
/* Viewport Anzeige */

#js-viewport-breitenanzeiger{
	position: fixed;
	top: 120px;
	right: 20px;
	z-index: 10000;
	background: rgba(230,72,0,0.80);
	border: 1px solid rgba(128,42,0,90);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.10);
	padding: 10px;
	font-size: 11px;
	font-weight: bold;
	color: rgba(255,255,255,1);
	font-family: Arial, Verdana, sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.50);
	text-transform: uppercase;
}

/***************************************************************/
